body {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10px;
  width: 1148px;
}

.contacts {
  margin-left: auto;
  text-align: right;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation__logo-image {
  width: 154px;
  height: 64px;
  margin-right: 24px;
}

.main-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff; 
}

.main-navigation__control-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.main-menu__item,
.sub-menu__item {
  margin-right: 28px;
  list-style: none;
}

.main-menu__link {
  color: #ffffff;
}

.main-menu__link:hover,
.main-menu__link:focus {
  outline: none;
  background-color: #ffffff;
  color: #323232;
}

.sub-menu {
  display:none;
  background-color: #ffffff;
  text-align: center;
}

.sub-menu__item-novelty {
  list-style: none;
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  border-bottom: 1px solid rgba(50,50,50, 0.2);
}

.sub-menu__item .sub-menu__link {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.sub-menu__item .sub-menu__link:hover,
.sub-menu__item .sub-menu__link:focus {
  outline: none;
  background-color: #fbded7;
}

.search__btn {
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  outline: none;
}

.search__btn:hover,
.search__btn:focus {
  color: #323232;
  background-color: rgba(255, 255, 255);
}

.user__menu-link {
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
}

.user__menu-link:hover,
.user__menu-link:focus {
  background-color: rgba(255, 255, 255);
  color: #323232
}

.cart__btn {
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
}

.cart__btn:hover,
.cart__btn:focus {
  background-color: rgba(255, 255, 255);
  color: #323232
}

.user__menu-item {
  list-style: none;
}

.container{
  margin: 0 auto;
  width: 1146px;
}

.advantages {
  padding: 15px;
  color: #323232;
  min-height: 306px;
  background-image: url(../img/wafer.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.advantages__list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

.advantages__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.advantages__list {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.advantages__item {
  margin-bottom: 20px;
  list-style: none;
  width: 545px;
}

.cards-wrapper{
  display: flex;
  justify-content: space-between;
}

.blog-preview {
  box-sizing: border-box;
  padding: 15px;
  width: 560px;
  height: 220px;
  background-color: #ffffff;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.blog-preview__subtitle {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: underline;
}

.blog-preview__title {
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscribe {
  box-sizing: border-box;
  padding: 5px;
  color: #323232;
  width: 560px;
  min-height: 220px;

  background-color: #f8f7f4;
  background-image: url(../img/mail-background.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.subscribe__wrap {
  background-color: #f8f7f4;
  border-radius: 20px;
}

.subscribe__description {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
}

.btn {
  padding: 8px 20px 9px 20px;
  font: inherit;
  text-align: center;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e94e37;
  border: none;
  border-radius: 20px;
  outline: none;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 2px 2px #ac1000;
  background-color: #ee7561
}

.btn:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.social-list{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.social-list__item {
  margin-right: 11px;
  list-style: none;
}

.social-list__link {
  width: 32px;
  height: 32px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: #ffffff;
}

.tech-info-menu{
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  width: 350px;
}

.tech-info-menu__item {
  margin-right: 33px;
  list-style: none;
}

.tech-info-menu__link {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.tech-info-menu__link:hover,
.tech-info-menu__link:focus {
  color: #ffbc9e;
}

.creater-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 190px;
  border: 1px solid #fff;
}

.creater-info__copyright {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #000;
}

.creater-info__logo {
  border: 1px solid #000;
}

.creater-info__copyright-link {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

.creater-info__copyright-link:hover,
.creater-info__copyright-link:focus {
  color: #ffbc9e;
}

.contacts {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contacts__phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__phone:hover,
.contacts__phone:focus {
  color: #ffbc9e;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs-list__item {
  margin-right: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-list__link {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-list__link:hover,
.breadcrumbs-list__link:focus {
  color: #ffbc9e;
}

.catalog-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list__item {
  list-style: none;
  width: 267px;
}

.catalog-list__item-image {
  border-radius: 50%;
}

.catalog-list__item-price {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list__weight {
  font-size: 30px;
  font-weight: 400;
}

.item-title__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.item-title__link:hover,
.item-title__link:focus {
  color: #ffbc9e;
}

.main-footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1148px;
  height: 104px;
}

.search__modal,
.user__modal,
.cart__modal,
.feedback-form {
  display: none;
}
