body {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-title {
  padding: 0;
  margin: 10px 0;
}

.btn {
  padding: 8px 20px 9px 20px;
  font: inherit;
  text-align: center;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #e94e37;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
}

.btn:hover,
.btn:focus {
  background-color: #ee7561
}

.btn:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1148px;
}

.contacts {
  position: absolute;
  right: 0;
  bottom: -50px;
  margin-left: auto;
  text-align: right;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation__logo-image {
  width: 154px;
  height: 64px;
  margin: 10px 8px 0 0;
}

/* Стили меню */

.main-menu {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff; 
  list-style: none;
}

.main-menu__item {
  position: relative;
  outline: none;
  border-bottom: 8px solid transparent;
}

.main-menu__link {
  display: block;
  padding: 7px 15px;

  font-weight: 700;
  color: #ffffff;
}

.main-menu__link--active {
  display: block;
  padding: 7px 15px;

  font-weight: 700;
  color: #ffffff;
  background-color: #d07058;
  border-radius: 16px;
}

.main-menu__link::after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.main-menu__item:hover .main-menu__link,
.main-menu__item:focus .main-menu__link,
.main-menu__link:focus {
  color: #323232;

  border-radius: 16px;
  background-color: #ffffff;
  outline: none;
}

/* Стили подменю */

.sub-menu {
  position: absolute;
  top: 40px;
  z-index: 2;
  display: none;
  padding: 0 0 5px 0;
  margin: 0;
  text-align: left;
  min-width: 143px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  list-style: none;
  outline: none;
}

.main-menu__item:hover .sub-menu {
  display: block;
}

.sub-menu__link {
  display: block;
  padding: 6px 20px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.sub-menu__link-novelty {
  display: block;
  padding: 6px 20px;
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-bottom: 1px solid rgba(50,50,50, 0.2);
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  outline: none;
  background-color: #fbded7;
}

.sub-menu__link:active {
  background-color: #f6b5a5;
}

.sub-menu__link--current {
  color: #ffffff;
  background-color: #d07058;
}

/* Стили кнопок управления */

.main-navigation__control-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  min-width: 267px;
}

/* Стили модального окна поиска */

.search {
  position: relative;
}

.search__modal {
  position: absolute;
  right: 0;
  margin-top: 5px;
  z-index: 2;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.4);
}

.search__input-wrapper {
  padding: 0;
  margin: 0;
}

.search__input {
  padding: 0 0 0 15px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #c7c6c5;
  border-radius: 5px;
  width: 310px;
  height: 44px;
}

.search__input:hover {
  padding: 0 0 0 14px;
  border: 2px solid #c7c6c5;
}

.search__input:focus {
  padding: 0 0 0 14px;
  outline: none;
  border: 2px solid #2e88e4;
}

/* Стили кнопки поиска */

.search__btn {
  display: flex;
  justify-content: center;
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #ffffff;

  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  outline: none;
}

.search__btn:hover,
.search__btn:focus {
  color: #323232;
  background-color: rgba(255, 255, 255);
  cursor: pointer;
}

.search__btn:hover path,
.search__btn:focus path{
  fill: #323232;
}

/* Стили модального окна входа */

.user {
  position: relative;
}

.user__modal {
  position: absolute;
  right: 0;
  display: inline-block;
  margin-top: 5px;
  z-index: 3;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.4);
}

.user__form {
  display: block;
  padding: 0;
  margin: 0;
}

.user__input-wrapper {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.user__btn-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.user__login-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

.user__link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.user__link:hover,
.user__link:focus {
  color: #e84d37;
}

.user__input {
  padding: 0 0 0 15px;
  box-sizing: border-box;
  border: 1px solid #c7c6c5;
  border-radius: 5px;
  width: 240px;
  height: 44px;
}

.user__input:hover {
  padding: 0 0 0 14px;
  border: 2px solid #c7c6c5;
}

.user__input:focus {
  padding: 0 0 0 14px;
  outline: none;
  border: 2px solid #2e88e4;
}

/* Стили кнопки входа */

.user__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user__menu-link {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 20px;
}

.user__menu-link svg{
  margin-right: 8px;
}

.user__menu-item {
  list-style: none;
}

.user__menu-link:hover,
.user__menu-link:focus {
  background-color: rgba(255, 255, 255);
  color: #323232;
}

.user__menu-link:hover path,
.user__menu-link:focus path,
.user__menu-link:hover polygon,
.user__menu-link:focus polygon {
  fill: #323232;
}

/* Стили модального окна корзины */

.cart {
  position: relative;
}

.cart__modal {
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 5px;
  z-index: 4;
  padding: 20px;
  width: 540px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

/* Стили корзины */

.products-table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.products-table__row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.products-table__row:nth-last-child(2) {
  padding-bottom: 15px;
  border-bottom: 1px solid #cacac7;
}

.products-table__ceil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 14px;
}

.products-table__total-price {
  margin-left: auto;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;
}

.products-table__ceil:last-child{
  margin-right: 0;
}

.products-table__ceil:nth-child(3){
  margin-left: auto;
  margin-right: auto;
}

.products-table__image {
  margin-right: 14px;
  border-radius: 50%;
}

.products-table__title {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  width: 215px;
}

.products-table__weight {
  position: relative;
  padding-right: 20px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.products-table__weight::before, .products-table__weight::after {
  position: absolute;
  top: 6px;
  right: 10px;
  content: '';
  height: 8px;
  width: 1px;
  background-color: #323232;
}

.products-table__weight::before {
  transform: rotate(45deg);
}

.products-table__weight::after {
  transform: rotate(-45deg);
}

.products-table__price {
  font-size: 13px;
  line-height: 16px;
  color: #999999;
}

.products-table__row-price {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.products-table__close-button {
  position: relative;
  border: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
}

.products-table__close-button::before, .products-table__close-button::after {
  position: absolute;
  margin: 0 auto;
  top:0;
  content: '';
  height: 15px;
  width: 2px;
  background-color: #868483;
}
.products-table__close-button::before {
  transform: rotate(45deg);
}

.products-table__close-button::after {
  transform: rotate(-45deg);
}

.products-table__close-button:hover.products-table__close-button::before,
.products-table__close-button:hover.products-table__close-button::after,
.products-table__close-button:focus.products-table__close-button::before,
.products-table__close-button:focus.products-table__close-button::after {
  background-color: #e84d37;
}

/* Стили кнопки корзины */

.cart__btn {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 20px;
}

.cart__btn svg{
  margin-right: 8px;
}

.cart__btn:hover,
.cart__btn:focus {
  background-color: rgba(255, 255, 255);
  color: #323232
}

.cart__btn:hover path,
.cart__btn:focus path,
.cart__btn:hover circle,
.cart__btn:focus circle {
  fill: #323232;
}


.container{
  margin: 20px auto 0 auto;
  width: 1146px;
}

/* Стили преимуществ */

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
  margin-top: 40px;
  color: #323232;
  background-image: url(../img/wafer.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  padding: 0;
  margin: 0;
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.advantages__item {
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 57px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  width: 485px;
}

.advantages__item--icecream::before {
  position: absolute;
  left: 0;
  top:0;
  content: url('../img/icecream-icon.svg');
}

.advantages__item--cow::before {
  position: absolute;
  left: 0;
  top:0;
  content: url('../img/cow-icon.svg');
}

.advantages__item--sheet::before {
  position: absolute;
  left: 0;
  top:0;
  content: url('../img/sheet-icon.svg');
}

.advantages__item--thermometer::before {
  position: absolute;
  left: 0;
  top:0;
  content: url('../img/thermometer-icon.svg');
}

/* Стили карточек */

.cards-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/* Стили карточки привью блога */

.blog-preview {
  box-sizing: border-box;
  padding: 20px;
  width: 560px;
  min-height: 220px;
  background-color: #ffffff;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-preview__title {
  padding: 0;
  margin: 0;
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.blog-preview__subtitle {
  display: block;
  margin-top: 10px;
  width: 285px;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

/* Стили карточки подписки */

.subscribe {
  display: flex;
  padding: 8px;
  color: #323232;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  box-sizing: border-box;
  background-image: url('../img/mail-background.jpg');  
  background-color: #f8f7f4;
}

.subscribe__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 22px;
  background-color: #f8f7f4;
  width: auto;
  box-sizing: border-box;
  border-radius: 15px;
}

.subscribe__description {
  padding: 0;
  margin: 0 0 35px 0;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
}

.subscribe__mail {
  padding-left: 15px;
  width: 348px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  margin-right: 10px;
  border-radius: 5px;
  
}

.subscribe__mail:hover {
  padding-left: 14px;
  border: 2px solid #c7c6c5;
}

.subscribe__mail:focus {
  outline: none;
  border: 2px solid #2e88e4;
}

/* Стили социальных кнопок */

.social-list{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
}

.social-list__item {
  margin-right: 11px;
}

.social-list__link {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.social-list__link--twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.social-list__link--instagramm {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

.social-list__link--fb {
  background-image: url(../img/facebook.svg);
  background-repeat: no-repeat;
}

.social-list__link--vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}

.social-list__link:hover,
.social-list__link:focus {
  opacity: 1;
}

.social-list__link:active{
  opacity: 0.8;
}

/* Стили информационных ссылок */

.tech-info-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 32px 0 auto;
  list-style: none;
}

.tech-info-menu__item {
  min-width: 133px;
}

.tech-info-menu__link {
  display: inline-block;
  padding-left: 22px;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.tech-info-menu__link::after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.tech-info-menu__link--provider {
  position: relative;
  font-weight: 700;
}

.tech-info-menu__link--provider svg {
  position: absolute;
  top: 2px;
  left:0;
}

.tech-info-menu__link:hover.tech-info-menu__link::after,
.tech-info-menu__link:focus.tech-info-menu__link::after,
.tech-info-menu__link:active.tech-info-menu__link::after {
  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

.tech-info-menu__link:hover,
.tech-info-menu__link:focus {
  color: #ffbc9e;
}

.tech-info-menu__link:hover path,
.tech-info-menu__link:focus path{
  fill: #ffbc9e;
}

/* Стили ссылок на документы */

.doc-info-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto 0 0;
  list-style: none;
}

.doc-info-menu__item {
  min-width: 133px;
}

.doc-info-menu__link {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.doc-info-menu__link::after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.doc-info-menu__link:hover,
.doc-info-menu__link:focus {
  color: #ffbc9e;
}

.doc-info-menu__link:hover.doc-info-menu__link::after,
.doc-info-menu__link:focus.doc-info-menu__link__link::after,
.doc-info-menu__link:active.doc-info-menu__link::after {
  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

/* Стили копирайта */

.creater-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.creater-info__copyright {
  padding: 0;
  margin: 0;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

.creater-info__copyright-link {
  display: inline-block;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

.creater-info__copyright-link::after {
  display: block;
  content: '';
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.creater-info__copyright-link:hover,
.creater-info__copyright-link:focus,
.creater-info__copyright-link:active {
  color: #ffbc9e;
}

.creater-info__copyright-link:hover.creater-info__copyright-link::after,
.creater-info__copyright-link:focus.creater-info__copyright-link::after,
.creater-info__copyright-link:active.creater-info__copyright-link::after {
  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

.contacts {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contacts__phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__phone:hover,
.contacts__phone:focus {
  color: #ffbc9e;
}

/* Стили хлебных крошек*/

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs-list__item {
  position: relative;
  padding-right: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-list__item::after {
  position: absolute;
  top: 0;
  right: 6px;
  content: '»';
}

.breadcrumbs-list__item:last-child::after {
  content: '';
}

.breadcrumbs-list__link {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-list__link::after {
  display: block;
  content: '';
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.breadcrumbs-list__link:hover,
.breadcrumbs-list__link:focus,
.breadcrumbs-list__link:active {
  color: #ffbc9e;
}

.breadcrumbs-list__link:hover.breadcrumbs-list__link::after,
.breadcrumbs-list__link:focus.breadcrumbs-list__link::after,
.breadcrumbs-list__link:active.breadcrumbs-list__link::after {
  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

/* Стили каталога */

.catalog {
  margin-top: 40px;
  padding-top: 35px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-list__item {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 8px 12px;
  margin-top: -35px;
  padding-bottom: 20px;
  width: 267px;
  box-sizing: border-box;
  border-radius: 5px;
}

.catalog-list__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.catalog-list__item:hover .catalog-list__btn{
  visibility: visible;
}

.catalog-list__item-image {
  border-radius: 50%;
  margin-bottom: 15px;
}

.catalog-list__item-price {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 200px;
  left:12px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.6);
}

.catalog-list__weight {
  font-size: 30px;
  font-weight: 400;
}

.item-title__link {
  margin-bottom: auto;
  text-align: center;
  color: #fff;
  text-decoration: underline;
}

.catalog-list__btn {
  visibility: hidden;
  margin-top: 10px;
}

.item-title__product-name {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.main-footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 1148px;
  height: 104px;
}

.feedback-form {
  display: none;
}
